.news-card{
    width: 100%;
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
    background: url('./cardsImg/net3.png') no-repeat;
   
  }
  .news-card h2{
    width: 400px;
    font-size: 40px;
    color: #89cc29 ;
    font-weight: 500;
}
.card-slider-container {
    width: 100%;
    width: 965px;
    padding: 25px;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  
  .card-slider {
    display: flex;
    transition: transform 0.3s ease-in-out;
    transform: scale(0.9);
  }
  
  
  .card {
    flex: 0 0 100%;
    max-width: 300px;
    padding: 25px;
    margin: 0 10px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
.pagination {
    text-align: center;
    margin-top: 20px;
  }
  
  .prev-button,
  .next-button {
    background-color: #89cc29;
    color: #fff;
    width: 50px;
    height: 50px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    margin: 0 10px;
    transition: 0.5s ease;
    /* transition-delay: 0.7s; */
    border: 2px solid #89cc29;
  }
  
  .prev-button:hover,
  .next-button:hover {
    color: #89cc29;
    background: transparent;
    /* border: 2px solid #89cc29; */
  }

  .news-content-slider{
    width: 100%;
    padding: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  